.sign-up {
  display: flex;
  flex-direction: column;
  width: 380px;

  .title {
    margin: 10px 0;
  }

  @media screen and (max-width: 1040px) {
    margin-top: 50px;
  }

  @media screen and (max-width: 400px) {
    width: 340px;
  }
}
